<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>상세 보기</h1>
<hr>
<!-- ## 등록버튼시 요청지정 ## -->
<form th:action="@{/shopBoard/detailShop}">
    <!-- ## 각각의 값을 지정 ## -->
    <input name="seq" type="hidden" th:value='${board.seq}'/>
    <table>
        <tr>
            <td >제목</td>
            <td><input name="title" type="text" th:value="${board.title}" >
        <tr>
            <td>작성자</td>
            <td th:text="${board.writer}"></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="content" cols="40" rows="10" th:text="${board.content}" ></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" value="글수정"/></td>
        </tr>
    </table>
</form>
<hr>

</body>
</html>