<div class="modal fade" id="detailShop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--<h5 class="modal-title" id="detailShopLabel" th:value="${detail.shopName}"></h5>-->
        <h5 class="modal-title shopName" id="detailShopLabel">제목</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!--<div th:value="${detail.shopContent}"></div>-->
        <div class="shopContent">내용</div>
      </div>
      <div><a href="#"><i class="bi bi-heart"></i></a></div>
    </div>
  </div>
</div>