<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div id="layoutSidenav_nav"  th:fragment="sideBarFragment">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Menu</div>
                <a class="nav-link" href="./main">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Main
                </a>
                <a class="nav-link" href="/userLogOut">
                    <div class="sb-nav-link-icon"><i class="fas fa-user fa-fw"></i></div>
                    Logout
                </a>
            </div>
        </div>
    </nav>
</div>
</html>
